@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

html,body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    font-kerning: normal;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h1.title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 27pt;
    line-height:  1.4;
    text-align: center;
    margin-bottom: 1.7em;
    color: #19828e;
}
h1.title::first-letter {
    font-size: 200%;
    font-family: 'Dancing Script', cursive;
}

blockquote {
    text-indent: -0.4em;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    position: relative;
    font-family: 'Roboto', serif;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 100;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

b, strong {
    color: #19828e;
    font-weight: 600;
}

blockquote:before, blockquote:after {
    content: '\201C';
    font-family: 'Sanchez';
    color: lighten($black, 40%);
 }
 blockquote:after {
    content: '\201D';
 }

.wall-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background-color:red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.text-wrapper {
    position: relative;
    
}

article {
    line-height: 1.6;
    font-kerning: auto;
    text-indent: 1.4em;
    
}
article::first-letter { 
    font-family: "Gentium Book Basic", serif;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1em;
    color:#19828e;
}

article img {
    max-width: 300px;
    float: left;
    margin: 20px;
    border-radius: 0.3em;
}

  .circles-container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
  }

  .circles-container div::before {
    content: ' \25CF';
    color:#19828e;
    font-size: 1em;
    display: flex;
    margin-top: 3.5em;
    margin-left: 25px;
  }

   /* On screens that are 992px or less, set the background color to blue */
   @media screen and (max-width: 5048px) {
    .text-wrapper {
        padding: 5em;
        padding-left: 32em;
        padding-right: 32em;
        margin-bottom: 4em;
    }
  }


  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 2048px) {
    .text-wrapper {
        padding: 7em;
        margin-bottom: 4em;
    }
  }

/* On screens that are 768px or less, set the background color to blue */
@media screen and (max-width: 769px) {
    .text-wrapper {
        padding: 2em;
        margin-bottom: 4em;
    }
    article img {
        float: none;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
  }


/* On screens that are 768px or less, set the background color to blue */
@media screen and (max-width: 411px) {
    .text-wrapper {
        padding: 1em;
        margin-bottom: 4em;
    }
    article img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
  }

  .index-card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 80%;
    align-self: center;
    margin: 0 auto;
  }

  .index-card {
      display: block;
      width: 350px;
      background-color: green;
      margin: 2px;
  }

  .index-card-img {
      background-color: red;
      width: 350px;
      height: 220px;
      position: relative;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .index-card-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      width: 90%;
      text-align: center;

      font-weight: 600;
      color: white;
      text-shadow: 2px 1px 4px #000000;

  }






